<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/e32550aef3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/detalle-uno.css">
    <link rel="stylesheet" href="../styles/detalle-tres.css">
    <link rel="stylesheet" href="../styles/styleFooter.css">
    <link rel="shortcut icon" href="../assets/img/DevTunes.png" type="image/x-icon">
</head>
<body>
    <main>
    <!-- Navbar -->
    <!-- Navbar responsive -->
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light d-lg-none d-md-none"
    >
      <a class="navbar-brand" href="./main.html">DevTunes</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Contenido del menú -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link navbar-link-registro-mobile" href="./login.html">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-link-iniciar-sesion-mobile" href="./registro.html">Registrarse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-link-administrador-mobile" href="./administración.html">Administrador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-link-cerrar-sesion-mobile" onclick="window.logout()">Cerrar sesión</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="./error.html"
              id="navbarDropdownMenuLink1"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Recomendado
            </a>
            <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink1"
            >
              <a class="dropdown-item" href="./main.html">Explorar</a>
              <a class="dropdown-item" href="./error.html">Géneros</a>
              <a class="dropdown-item" href="./error.html">Artistas</a>
              <a class="dropdown-item" href="./error.html">Álbumes</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink2"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Mi biblioteca
            </a>
            <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink2"
            >
              <a class="dropdown-item dropdown-custom-link" href="#" onclick="window.redirectOthers()">Escuchado Recientemente</a>
              <a class="dropdown-item dropdown-custom-link" href="#" onclick="window.redirectOthers()">Favoritos</a>
              <a class="dropdown-item dropdown-custom-link" href="#" onclick="window.redirectMiBiblioteca()">Mi lista de reproducción</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Formulario de búsqueda -->
    <div class="container mt-2 custom-container d-md-none d-lg-none">
      <form class="form-inline" id="searchFormMobile">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Buscar canción"
          aria-label="Search"
          id="searchInputMobile"
        />
        <button type="submit" style="display: none"></button>
      </form>
    </div>
    <div
      id="searchResultsMobile"
      class="search-results-mobile d-md-none d-lg-none"
    ></div>
    <!-- Fin Navbar responsive -->

    <!-- Navbar para pantallas grandes -->
    <div id="navbar" class="screen-navbar d-none d-lg-block d-md-block">
      <!-- Contenedor 1 -->
      <div class="navbar-container navbar-logo" id="logoContainer">
        <a href="main.html" class="custom-link">
          <p>DevTunes</p>
      </a>
      </div>
      <!-- Filtro -->
      <form class="form-inline my-2 my-lg-0 ml-auto" id="formSearchSongs">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Buscar canción"
          aria-label="Search"
          id="searchInputDesktop"
        />
      </form>
      <!-- Contenedor de la lista desplegable para la búsqueda -->
      <div id="searchResultsDesktop" class="search-results-desktop"></div>
      <!-- Contenedor 2 -->
      <div class="navbar-container">
        <ul>
          <li><a class="navbar-link navbar-link-iniciar-sesion" href="login.html">Iniciar sesión</a></li>
          <li><a class="navbar-link navbar-link-registro" href="registro.html">Registrarse</a></li>
          <li><a class="navbar-link navbar-link-administrador" href="administracion.html">Administrador</a></li>
          <li><a class="navbar-link navbar-link-cerrar-sesion" onclick="window.logout()">Cerrar sesión</a></li>
        </ul>
      </div>

      <!-- Contenedor 3 -->
      <div class="navbar-container">
        <p>RECOMENDADO</p>
        <ul>
          <li class="active"><a class="navbar-link" href="main.html">Explorar</a></li>
          <li><a class="navbar-link" href="error.html">Generos</a></li>
          <li><a class="navbar-link" href="error.html">Artistas</a></li>
          <li><a class="navbar-link" href="error.html">Albumes</a></li>
        </ul>
      </div>

      <!-- Contenedor 4 -->
      <div class="navbar-container">
        <p>MI BIBLIOTECA</p>
        <ul>
          <li><a class="navbar-link" onclick="window.redirectOthers()">Escuchado Recientemente</a></li>
          <li><a class="navbar-link" onclick="window.redirectOthers()">Favoritos</a></li>
          <li><a class="navbar-link" onclick="window.redirectMiBiblioteca()">Mi lista de reproducción</a></li>
        </ul>
      </div>
    </div>
    <!-- Fin Navbar -->
    <div id="main-content">
        <div id="banner">
            <!--Comienzo de la portada-->
            <section class=" mt-3 portada-general">
                    <div class="portada-imagen">
                        <img class="imagen-dua-lipa" src="../assets/img/topartist-1.jpeg" alt="Imganen de la portada" >
                    </div>
                    <div>
                        <p class="d-none d-md-block">Lista de canciones</p>
                        <h1 class="texto-portada">Karol G</h1>
                        <p class="d-none d-md-block">Es una cantante de urbano latino, a demás es compositora y actriz .</p>
                        <p class="d-none d-md-block">10 canciones, 25 minutos</p>
                    </div>
            </div>
            </section>
            <!--Fin de la portada-->
            <!--Iconos de reproduccion-->
            <section class="fondo">
            <section class="mt-4 mb-2 align-items-center d-none d-md-block">
                <div class="seccion-medio">
                    <p><i class="bi bi-play-circle-fill fas fa-check fa-3x reproductor"></i></p>
                    <p><i class="bi bi-shuffle fas fa-check fa-2x aleatorio-computadora"></i></p>
                    <p><i class="bi bi-plus-circle-fill fas fa-check fa-2x px-2 iconos-computadora"></i></p>
                    <p><i class="bi bi-arrow-down-circle-fill fas fa-check fa-2x px-2 iconos-computadora"></i></p>
                    <p><i class="bi bi-three-dots fas fa-check fa-2x px-2 iconos-computadora"></i></p>
                    <p><i class="bi bi-search px-2 icono-lupa"></i></p>
                    <p class="orden-personalizado">Orden personalizado</p>
                    <p><i class="bi bi-list-ul fa-2x px-2 icono-personalizado"></i></p>
                </div>
            </section>
            <section class="mt-4 mb-2 align-items-center">
                <div class="seccion-tamaño-movil">
                    <p><i class="bi bi-plus-circle-fill fas fa-check fa-2x px-2 iconos-movil"></i></p>
                    <p><i class="bi bi-arrow-down-circle-fill fas fa-check fa-2x px-2 iconos-movil"></i></p>
                    <p><i class="bi bi-three-dots fas fa-check fa-2x px-2 iconos-movil"></i></p>
                    <p><i class="bi bi-shuffle fas fa-check fa-2x aleatorio-movil"></i></p>
                    <p><i class="bi bi-play-circle-fill fas fa-check fa-2x px-3 reproductor"></i></p>
                </div>
            </section>
            <!--Iconos de reproduccion-->
            <!-- encabezado tamaño computadora -->
            <div class="song-encabezado linea encabezado-tamaño-computadora">
                <div class="icono-enumeracion">
                    <h3>#</h3>
                </div>
                <div class="song-details encabezado-titulo">
                <h3>Titulo</h3>
                </div>
                <div class="encabezado-album">
                    <h3>Album</h3>
                </div>
                <div class="icono-duracion-cancion">
                    <i class="bi bi-clock-fill"></i>
                </div>
            </div>
                <!--fin encabezado tamaño computadora -->
                <section id="productos-container">
                    <div class="linea"></div>
                </section>
        </section>
        <footer>
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-2">
                        <img class="logoFooter" src="../assets/img/DevTunes.png" alt="Logo de DevTunes">
                    </div>
                    <div class="col">
                        <p>
                        <h5 class="tituloListaFooter">DevTunes</h5>
                        </p>
                        <ul class="listaFooter">
                            <li><a href="../views/error.html">Reseñas</a></li>
                            <li><a href="../views/error.html">Empleo</a></li>
                            <li><a href="../views/error.html">Aplicación móvil gratis</a></li>
                            <li><a href="../views/error.html">Ayuda</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <p>
                        <h5 class="tituloListaFooter">Nosotros</h5>
                        </p>
                        <ul class="listaFooter">
                            <li><a href="../views/sobreNosotros.html">Equipo DevTunes</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <p>
                        <h5 class="tituloListaFooter">Comunidades</h5>
                        </p>
                        <ul class="listaFooter">
                            <li><a href="../views/error.html">Musicos</a></li>
                            <li><a href="../views/error.html">Podcasters</a></li>
                            <li><a href="../views/error.html">Desarrolladores</a></li>
                            <li><a href="../views/error.html">Inversores</a></li>
                            <li><a href="../views/error.html">Publicidad</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <p>
                        <h5 class="tituloListaFooter">Legal</h5>
                        </p>
                        <ul class="listaFooter">
                            <li><a href="../views/error.html">Política de privacidad</a></li>
                            <li><a href="../views/error.html">Cookies</a></li>
                            <li><a href="../views/error.html">Condiciones de uso</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="listaRedes">
                            <li>
                                <a href="../views/error.html">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="../views/error.html">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="../views/error.html">
                                    <i class="bi bi-twitter-x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p class="copy">&copy; 2024 DevTunes - Todos los derechos reservados</p>
                    </div>
                </div>
            </div>
        </footer>
        </div>
    </div>
    </main>
    <script src="../js/lista-karol-g.js"></script>
    <script src="../js/karol-g.js"></script>
    <script src="../js/funcioncarrito.js"></script>
    <script type="module" src="../data/artistas.js"></script>
    <script type="module" src="../js/index.js"></script>
    <script type="module" src="../js/logout.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>