<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@600&family=Lato:wght@300;400&family=Orbitron:wght@900&family=Play:wght@400;700&family=Poppins:wght@200;300;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/styleFooter.css" />
    <title>DevTunes | Home</title>
  </head>
  <body>
    <!-- Navbar -->
    <!-- Navbar responsive -->
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light d-lg-none d-md-none"
    >
      <a class="navbar-brand" href="./main.html">DevTunes</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Contenido del menú -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link navbar-link-registro-mobile" href="./login.html">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-link-iniciar-sesion-mobile" href="./registro.html">Registrarse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-link-administrador-mobile" href="./administración.html">Administrador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-link-cerrar-sesion-mobile" onclick="window.logout()">Cerrar sesión</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="./error.html"
              id="navbarDropdownMenuLink1"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Recomendado
            </a>
            <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink1"
            >
              <a class="dropdown-item" href="./main.html">Explorar</a>
              <a class="dropdown-item" href="./error.html">Géneros</a>
              <a class="dropdown-item" href="./error.html">Artistas</a>
              <a class="dropdown-item" href="./error.html">Álbumes</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink2"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Mi biblioteca
            </a>
            <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink2"
            >
              <a class="dropdown-item" href="./error.html">Escuchado Recientemente</a>
              <a class="dropdown-item" href="./error.html">Favoritos</a>
              <a class="dropdown-item" href="../views/listaReproduccion.html">Mi lista de reproducción</a>
            </div>
          </li>

        </ul>
      </div>
    </nav>
    <!-- Formulario de búsqueda -->

    <div class="container mt-2 custom-container d-md-none d-lg-none">
      <form class="form-inline" id="searchFormMobile">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Buscar canción"
          aria-label="Search"
          id="searchInputMobile"
        />
        <button type="submit" style="display: none"></button>
      </form>
    </div>
    <div
      id="searchResultsMobile"
      class="search-results-mobile d-md-none d-lg-none"
    ></div>

    <!-- Fin Navbar responsive -->

    <!-- Navbar para pantallas grandes -->
    <div id="navbar" class="screen-navbar d-none d-lg-block d-md-block">
      <!-- Contenedor 1 -->
      <div class="navbar-container navbar-logo" id="logoContainer">
        <p>DevTunes</p>
      </div>
      <!-- Filtro -->
      <form class="form-inline my-2 my-lg-0 ml-auto" id="formSearchSongs">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Buscar canción"
          aria-label="Search"
          id="searchInputDesktop"
        />
      </form>
      <!-- Contenedor de la lista desplegable para la búsqueda -->
      <div id="searchResultsDesktop" class="search-results-desktop"></div>
      <!-- Contenedor 2 -->
      <div class="navbar-container">
        <ul>
          <li><a class="navbar-link navbar-link-iniciar-sesion" href="login.html">Iniciar sesión</a></li>
          <li><a class="navbar-link navbar-link-registro" href="registro.html">Registrarse</a></li>
          <li><a class="navbar-link navbar-link-administrador" href="administracion.html">Administrador</a></li>
          <li><a class="navbar-link navbar-link-cerrar-sesion" onclick="window.logout()">Cerrar sesión</a></li>
        </ul>
      </div>

      <!-- Contenedor 3 -->
      <div class="navbar-container">
        <p>RECOMENDADO</p>
        <ul>
          <li class="active"><a class="navbar-link" href="main.html">Explorar</a></li>
          <li><a class="navbar-link" href="error.html">Generos</a></li>
          <li><a class="navbar-link" href="error.html">Artistas</a></li>
          <li><a class="navbar-link" href="error.html">Albumes</a></li>
        </ul>
      </div>

      <!-- Contenedor 4 -->
      <div class="navbar-container">
        <p>MI BIBLIOTECA</p>
        <ul>
          <li><a class="navbar-link" href="error.html">Escuchado Recientemente</a></li>
          <li><a class="navbar-link" href="error.html">Favoritos</a></li>
          <li><a class="navbar-link" href="../views/listaReproduccion.html">Mi lista de reproducción</a></li>
        </ul>
      </div>
    </div>
    <!-- Fin Navbar -->
    <!-- Contenido principal -->
    <div id="main-content">
      <div id="banner">
        <img src="../assets/img/Banner.png" alt="Cantante" />
      </div>

      <!-- Carrousel -->
      <div id="carouselContainer">
        <h2 id="carouselTitle">Weekly top track</h2>

        <!-- Carrusel -->
        <div id="carouselExample" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <!-- Grupo 1 -->
            <div class="carousel-item active">
              <div class="d-flex">
                <img
                  src="../assets/img/carrousel-1.jpeg"
                  class="d-block"
                  alt="Portada 1"
                />
                <img
                  src="../assets/img/carrousel-2.jpeg"
                  class="d-block"
                  alt="Portada 2"
                />
                <img
                  src="../assets/img/carrousel-3.avif"
                  class="d-block"
                  alt="Portada 3"
                />
                <img
                  src="../assets/img/carrousel-4.webp"
                  class="d-block"
                  alt="Portada 4"
                />
                <img
                  src="../assets/img/carrousel-5.jpeg"
                  class="d-block"
                  alt="Portada 5"
                />
              </div>
            </div>

            <!-- Grupo 2 -->
            <div class="carousel-item">
              <div class="d-flex">
                <img
                  src="../assets/img/carrousel-6.jpeg"
                  class="d-block"
                  alt="Portada 6"
                />
                <img
                  src="../assets/img/carrousel-7.jpeg"
                  class="d-block"
                  alt="Portada 7"
                />
                <img
                  src="../assets/img/carrousel-8.jpeg"
                  class="d-block"
                  alt="Portada 8"
                />
                <img
                  src="../assets/img/carrousel-9.jpeg"
                  class="d-block"
                  alt="Portada 9"
                />
                <img
                  src="../assets/img/carrousel-10.jpeg"
                  class="d-block"
                  alt="Portada 10"
                />
              </div>
            </div>
          </div>

          <!-- Flechas de control -->
          <div class="carousel-control-container">
            <a
              class="carousel-control-prev"
              href="#carouselExample"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExample"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Siguiente</span>
            </a>
          </div>
          <!-- Fin Flechas de control -->
        </div>
      </div>

      <!-- Contenedor debajo del carrusel -->
      <div id="featured-content">
        <!-- Primera mitad -->
        <div id="top-songs">
          <h2>Top canciones Argentina</h2>
          <ul>
            <!-- Lista de 10 canciones -->
            <!-- Canción 1 -->
            <li>
              <div class="song-info">
                <img
                  src="../assets/img/topsongs-1.jpeg"
                  alt="Portada de la canción"
                />
                <div class="details">
                  <p>En La Intimidad</p>
                  <p>Emilia, Callejero Fino</p>
                </div>
              </div>
              <span class="duration">3:45</span>
              <a href="#" class="favorite-link">
                <i class="bi bi-bookmark-heart"></i>
              </a>
            </li>
            <!-- Canción 2 -->
            <li>
              <div class="song-info">
                <img
                  src="../assets/img/topsongs-2.jpeg"
                  alt="Portada de la canción"
                />
                <div class="details">
                  <p>Yandel 150</p>
                  <p>Yandel, Feid</p>
                </div>
              </div>
              <span class="duration">3:45</span>
              <a href="#" class="favorite-link">
                <i class="bi bi-bookmark-heart"></i>
              </a>
            </li>
            <!-- Canción 3 -->
            <li>
              <div class="song-info">
                <img
                  src="../assets/img/topsongs-3.jpeg"
                  alt="Portada de la canción"
                />
                <div class="details">
                  <p>Classy 101</p>
                  <p>Feid, Young Miko</p>
                </div>
              </div>
              <span class="duration">3:45</span>
              <a href="#" class="favorite-link">
                <i class="bi bi-bookmark-heart"></i>
              </a>
            </li>
            <!-- Canción 4 -->
            <li>
              <div class="song-info">
                <img
                  src="../assets/img/topsongs-4.jpeg"
                  alt="Portada de la canción"
                />
                <div class="details">
                  <p>La Bebé (Remix)</p>
                  <p>Yng Lvcas, Peso Pluma</p>
                </div>
              </div>
              <span class="duration">3:45</span>
              <a href="#" class="favorite-link">
                <i class="bi bi-bookmark-heart"></i>
              </a>
            </li>
            <!-- Canción 5 -->
            <li>
              <div class="song-info">
                <img
                  src="../assets/img/topsongs-5.jpeg"
                  alt="Portada de la canción"
                />
                <div class="details">
                  <p>LALA</p>
                  <p>Myke Towers</p>
                </div>
              </div>
              <span class="duration">3:45</span>
              <a href="#" class="favorite-link">
                <i class="bi bi-bookmark-heart"></i>
              </a>
            </li>
          </ul>
        </div>

        <!-- Segunda mitad -->
        <div id="artists-genres">
          <!-- Contenedor arriba -->
          <div class="top-container">
            <h2>Artistas de la semana</h2>
            <div class="artist-images">
              <img src="../assets/img/topartist-1.jpeg" alt="Artista 1"/>
              <img src="../assets/img/topartist-2.jpeg" alt="Artista 2" />
              <img src="../assets/img/topartist-3.jpeg" alt="Artista 3" />
              <img src="../assets/img/topartist-4.jpeg" alt="Artista 4" />
              <img src="../assets/img/topartist-5.jpeg" alt="Artista 5" />
            </div>
          </div>

          <!-- Contenedor abajo -->
          <div class="bottom-container">
            <h2>Descubrir géneros</h2>
            <!-- Fotos de géneros con texto arriba -->
            <div class="genre-images">
              <img src="../assets/img/genre-1.png" alt="Género 1" />
              <img src="../assets/img/genre-2.png" alt="Género 2" />
              <img src="../assets/img/genre-3.png" alt="Género 3" />
              <img src="../assets/img/genre-4.png" alt="Género 4" />
              <img src="../assets/img/genre-6.png" alt="Género 5" />
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Contenedor debajo del carrusel -->

      <footer>
        <hr>
        <div class="container text-center">
          <div class="row">
            <div class="col-md-2">
                  <img class="logoFooter" src="../assets/img/DevTunes.png" alt="Logo de DevTunes">
            </div>
            <div class="col">
                  <p>
                      <h5 class="tituloListaFooter">DevTunes</h5>
                  </p>
                  <ul class="listaFooter">

                      <li><a href="">Reseñas</a></li>
                      <li><a href="">Empleo</a></li>
                      <li><a href="">Aplicación móvil gratis</a></li>
                      <li><a href="">Ayuda</a></li>
                  </ul>
            </div>
            <div class="col">
                  <p >
                      <h5 class="tituloListaFooter">Nosotros</h5>
                  </p>
                  <ul class="listaFooter">
                      <li><a href="">Equipo DevTunes</a></li>
                  </ul>
            </div>
              <div class="col">
                  <p >
                      <h5 class="tituloListaFooter">Comunidades</h5>
                  </p>
                  <ul class="listaFooter">
                      <li><a href="">Musicos</a></li>
                      <li><a href="">Podcasters</a></li>
                      <li><a href="">Desarrolladores</a></li>
                      <li><a href="">Inversores</a></li>
                      <li><a href="">Publicidad</a></li>
                  </ul>
            </div>

              <div class="col">
                  <p >
                      <h5 class="tituloListaFooter">Legal</h5>
                  </p>
                  <ul class="listaFooter">
                      <li><a href="">Política de privacidad</a></li>
                      <li><a href="">Cookies</a></li>
                      <li><a href="">Condiciones de uso</a></li>
                  </ul>
              </div>
            </div>
          </div>
          <hr>
          <div class="container text-center">
              <div class="row">
                <div class="col-md-6">
                  <ul class="listaRedes">
                      <li>
                          <a href="">
                              <i class="bi bi-facebook"></i>
                          </a>
                      </li>
                      <li>
                          <a href="">
                              <i class="bi bi-instagram"></i>
                          </a>
                      </li>
                      <li>
                          <a href="">
                              <i class="bi bi-twitter-x"></i>
                          </a>
                      </li>
                  </ul>
                </div>
                <div class="col-md-6">
                      <p class="copy">&copy; 2024 DevTunes - Todos los derechos reservados</p>
                </div>
              </div>
          </div>
      </footer>
    </div>

    <!-- Scripts de Bootstrap y cualquier otro script necesario -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="module" src="../data/songs.js"></script>
    <script type="module" src="../js/index.js"></script>
    <script type="module" src="../js/logout.js"></script>
  </body>
</html>