<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@600&family=Lato:wght@300;400&family=Orbitron:wght@900&family=Play:wght@400;700&family=Poppins:wght@200;300;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <!-- Navbar -->
    <div id="navbar">
      <!-- Contenedor 1 -->
      <div class="navbar-container navbar-logo">
        <p>Nombre de la Página</p>
      </div>

      <!-- Contenedor 2 -->
      <div class="navbar-container">
        <p>RECOMENDADO</p>
        <ul>
          <li class="active">Explorar</li>
          <li>Generos</li>
          <li>Artistas</li>
          <li>Albumes</li>
        </ul>
      </div>

      <!-- Contenedor 3 -->
      <div class="navbar-container">
        <p>MI BIBLIOTECA</p>
        <ul>
          <li>Escuchado Recientemente</li>
          <li>Favoritos</li>
          <li>Descargas</li>
        </ul>
      </div>
    </div>

    <!-- Contenido principal -->
    <div id="main-content">
      <div id="banner">
        <img src="../assets/img/Banner.png" alt="Cantante" />
      </div>

      <!-- Carrousel -->
      <div id="carouselContainer">
        <h2 id="carouselTitle">Weekly top track</h2>

        <!-- Carrusel -->
        <div id="carouselExample" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <!-- Grupo 1 -->
            <div class="carousel-item active">
              <div class="d-flex">
                <img
                  src="../assets/img/carrousel-1.jpeg"
                  class="d-block"
                  alt="Portada 1"
                />
                <img
                  src="../assets/img/carrousel-2.jpeg"
                  class="d-block"
                  alt="Portada 2"
                />
                <img
                  src="../assets/img/carrousel-3.avif"
                  class="d-block"
                  alt="Portada 3"
                />
                <img
                  src="../assets/img/carrousel-4.webp"
                  class="d-block"
                  alt="Portada 4"
                />
                <img
                  src="../assets/img/carrousel-5.jpeg"
                  class="d-block"
                  alt="Portada 5"
                />
              </div>
            </div>

            <!-- Grupo 2 -->
            <div class="carousel-item">
              <div class="d-flex">
                <img
                  src="../assets/img/carrousel-4.webp"
                  class="d-block"
                  alt="Portada 4"
                />
                <img
                  src="../assets/img/carrousel-5.jpeg"
                  class="d-block"
                  alt="Portada 5"
                />
                <img
                  src="../assets/img/carrousel-6.jpeg"
                  class="d-block"
                  alt="Portada 6"
                />
              </div>
            </div>
          </div>

          <!-- Flechas de control -->
          <div class="carousel-control-container">
            <a
              class="carousel-control-prev"
              href="#carouselExample"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExample"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Siguiente</span>
            </a>
          </div>
          <!-- Fin Flechas de control -->
        </div>
      </div>

      <!-- Contenedor debajo del carrusel -->
      <div id="featured-content">
        <!-- Primera mitad -->
        <div id="top-songs">
          <h2>Canciones más escuchadas en Argentina</h2>
          <ul>
            <!-- Lista de 10 canciones -->
            <!-- Canción 1 -->
            <li>
              <div class="song-info">
                <img
                  src="../assets/img/topsongs-1.jpeg"
                  alt="Portada de la canción"
                />
                <div class="details">
                  <p>En La Intimidad</p>
                  <p>Emilia, Callejero Fino</p>
                </div>
              </div>
              <span class="duration">3:45</span>
              <a href="#" class="favorite-link">
                <i class="bi bi-bookmark-heart"></i>
              </a>
            </li>
            <!-- Canción 2 -->
            <li>
              <div class="song-info">
                <img
                  src="../assets/img/topsongs-2.jpeg"
                  alt="Portada de la canción"
                />
                <div class="details">
                  <p>Yandel 150</p>
                  <p>Yandel, Feid</p>
                </div>
              </div>
              <span class="duration">3:45</span>
              <a href="#" class="favorite-link">
                <i class="bi bi-bookmark-heart"></i>
              </a>
            </li>
            <!-- Canción 3 -->
            <li>
              <div class="song-info">
                <img
                  src="../assets/img/topsongs-3.jpeg"
                  alt="Portada de la canción"
                />
                <div class="details">
                  <p>Classy 101</p>
                  <p>Feid, Young Miko</p>
                </div>
              </div>
              <span class="duration">3:45</span>
              <a href="#" class="favorite-link">
                <i class="bi bi-bookmark-heart"></i>
              </a>
            </li>
            <!-- Canción 4 -->
            <li>
              <div class="song-info">
                <img
                  src="../assets/img/topsongs-4.jpeg"
                  alt="Portada de la canción"
                />
                <div class="details">
                  <p>La Bebé (Remix)</p>
                  <p>Yng Lvcas, Peso Pluma</p>
                </div>
              </div>
              <span class="duration">3:45</span>
              <a href="#" class="favorite-link">
                <i class="bi bi-bookmark-heart"></i>
              </a>
            </li>
            <!-- Canción 5 -->
            <li>
              <div class="song-info">
                <img
                  src="../assets/img/topsongs-5.jpeg"
                  alt="Portada de la canción"
                />
                <div class="details">
                  <p>LALA</p>
                  <p>Myke Towers</p>
                </div>
              </div>
              <span class="duration">3:45</span>
              <a href="#" class="favorite-link">
                <i class="bi bi-bookmark-heart"></i>
              </a>
            </li>
          </ul>
        </div>

        <!-- Segunda mitad -->
        <div id="artists-genres">
          <!-- Contenedor arriba -->
          <div class="top-container">
            <h2>Artistas de la semana</h2>
            <!-- Imágenes de artistas -->
            <div class="artist-images">
              <img src="ruta_de_la_imagen_1.jpg" alt="Artista 1" />
              <!-- Repite para las demás imágenes -->
            </div>
          </div>

          <!-- Contenedor abajo -->
          <div class="bottom-container">
            <h2>Descubrir géneros</h2>
            <!-- Fotos de géneros con texto arriba -->
            <div class="genre-images">
              <div class="genre">
                <img src="ruta_de_la_imagen_genero_1.jpg" alt="Género 1" />
                <p>Nombre del Género 1</p>
                <a href="#" class="see-more-link">Ver más</a>
              </div>
              <!-- Repite para los demás géneros -->
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Contenedor debajo del carrusel -->
    </div>

    <!-- Scripts de Bootstrap y cualquier otro script necesario -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
