.fondo{
color: #fff9f9;

padding-top: 15px;
background: rgb(29,22,22);
background: linear-gradient(to bottom, rgba(45, 45, 45, 0.937) 0%, rgba(0,0,0,1) 76%);
}
/*background: rgb(60,103,162);
background: linear-gradient(90deg, rgba(60,103,162,1) 0%, rgba(29,22,22,1) 18%);*/

.seccion-medio{
  padding-left: 40px;
  display: flex;
  flex-direction: row;
}
.dua-lipa {
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.imagen-dua-lipa {
    width: 250px;
    border-radius: 10px;
}

.lista-enumeracion{
    padding: 15px 0px 7px 15px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.lista-imagen {
    margin-right: 400px;
    display: flex;
    flex-direction: row;
}

.titulos{
    padding-left: 15px;
}

.texto-lista-canciones{
    font-size: 30px;
    justify-content: space-between;
}

.nano{
  display: flex;
  flex-direction: row;
}

.otro-nano{
  padding-left: 100px;
  padding-right: 100px;
}
.seccion-tamaño-movil{
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  display: none;
}
/* media querie de celular*/
@media (min-width: 320px) and (max-width: 575px){

    .lista-imagen {
        margin-right: 0px;
        
    }
  .otro-nano{
    padding-left: 0px;
    padding-right: 0px;
  }
.imagen-lista-canciones{
  padding-left: 20px;
}
  .seccion-tamaño-movil{
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    
  }
  .nombre-album{
    padding-right: 30px;
  }
  .opciones{
    padding-right: 20px;
    display: flex;
    flex-direction: row;
  }
  .tiempo{
    padding-right: 30px;
  }
  .aleatorio{
    padding-left: 125px;
  }

    .imagen-dua-lipa {
    display: flex;
    justify-content: center;

    }
    .nano{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .texto-lista-canciones{
        font-size: 20px;
        justify-content: space-between;
        padding: 0px;
        align-items: center;
        align-content: center;
    }

    .tamaño-movil{
      display: none;
    }
}

@media screen and (min-width: 1024px) {
  .tamaño-computadora{
  display: none;
}
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
  padding: 7px 0px 7px 0px;
}

tbody{
  padding: 15px 0px 0px 0px;
}

.linea{
  border-bottom: solid 1px black;
}

body {
    background-color: #F1F3FB;
    margin: 0;
    padding: 0;
  }
  .imagen-lista-canciones{
    border-radius: 10px;
  }


  
 /* Navbar */
#navbar {
  background-color: #ffffff;
  height: 100vh;
  width: 20%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.navbar-container.navbar-logo {
  color: #222A53;
  margin-left: 10px;
  font-size: 16px;
}

.navbar-container {
  color: #7A7C8A;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  margin-left: 10px;
}

.navbar-container p {
  margin: 0;
  font-weight: bold;
}

.navbar-container ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.navbar-container li {
  padding: 5px 0;
  cursor: pointer;
}

.navbar-container li.active {
  font-weight: bold;
  color: #ED5790;
}

  #main-content {
    margin-left: 20%;

  }
  
  #banner {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    background: rgb(44,109,191);
    background: linear-gradient(to bottom, rgba(44,109,191,0.8239670868347339) 0%, rgba(45,45,45,1) 100%);
    color: #ffffff;
  }


  tbody .hover-lista-repodruccion{
    cursor: pointer;
    
  }
tbody .hover-lista-repodruccion:hover{
  background: rgba(243, 103, 199, 0.4);
}


/*FOOTER*/
footer{
  background-color: #f9f1fa;
}
.logoFooter {
  height: 100px;
}

.listaFooter,
.tituloListaFooter {
  list-style-type: none;
  text-align: left;
  padding-left: 0%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.tituloListaFooter{
  font-weight: bold;
  color: #7a7c8a;
}

.listaFooter a {
  text-decoration: none;
  color: #7a7c8a;
}

.listaFooter a:hover, 
.listaRedes a:hover {
  color: #ed5790;
}

/*fin del primer contenedor*/

/*segundo contenedor*/

.listaRedes li {
  list-style-type: none;
  display: inline;
}

.listaRedes{
    padding: 0%;
}

.listaRedes a {
  text-decoration: none;
  color: #7a7c8a;
  font-size: 25px;
  padding: 10px;
}
.copy {
  color: #7a7c8a;
}

@media only screen and (max-width: 767px) {
  #navbar {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 50%;
  }

  #mobileNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-left: 25px;
    padding-bottom: 0;
    font-family: 'Poppins', sans-serif;
  }

  #main-content {
    margin-left: 0;
  }
}