.imagen-emilia-mernes {
    margin-left: 50px;
    margin-right: 50px;
}

.lista-enumeracion{
    margin-left: 30px;
    font-size: 40px;
}

.lista-imagen {
    margin-left: 25px;
    
}

.lista-nombre-cancion {
    margin-left: 25px;
    font-size: 40px;
}
.lista-codigo-unico {
    margin-left: 500px;
    font-size: 30px;
}
.lista-tiempo {
    margin-left: 150px;
    font-size: 30px;
}