/*Navbar*/
body {
    background-color: #F1F3FB;
    margin: 0;
    padding: 0;
}

#carrito-vacio {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ED5790;
    color: white;
}

.escondido{
    display: none;
}
/* Estilos para pantallas más grandes */
@media only screen and (min-width: 1025px) {
    #navbar {
        background-color: #ffffff;
        height: 100vh;
        width: 20%;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
    }

    .navbar-container.navbar-logo {
        color: #222A53;
        margin-left: 10px;
        font-size: 16px;
    }

    .navbar-container {
        color: #7A7C8A;
        padding: 15px;
        margin-bottom: 20px;
        font-size: 14px;
        margin-left: 10px;
    }

    .navbar-container p {
        margin: 0;
        font-weight: bold;
    }

    .navbar-container ul {
        list-style: none;
        padding: 0;
        margin-top: 10px;
    }

    .navbar-container li {
        padding: 5px 0;
        cursor: pointer;
    }

    .navbar-container li.active {
        font-weight: bold;
        color: #ED5790;
    }

    .navbar-container.navbar-logo {
        margin-top: 15px;
        font-size: 30px;
    }

    .detalle-lista h1 {
        margin-top: 90px;
        margin-bottom: 50px;
        font-weight: bold;
        color: #000000;
        padding-left: 50px;
        font-size: 50px;
    }
}

/* Estilo para tablet: iPad Pro*/
@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    /* Navbar */
    #navbar {
        background-color: #ffffff;
        height: 100vh;
        width: 170px;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
    }

    .navbar-container.navbar-logo {
        color: #222A53;
        margin-left: 1px;
        font-size: 14px;
    }

    .navbar-container {
        color: #7A7C8A;
        padding: 15px;
        margin-bottom: 20px;
        font-size: 12px;
        margin-left: 1px;
    }

    .navbar-container p {
        margin: 0;
        font-weight: bold;
    }

    .navbar-container ul {
        list-style: none;
        padding: 0;
        margin-top: 10px;
    }

    .navbar-container li {
        padding: 5px 0;
        cursor: pointer;
    }

    .navbar-container li.active {
        font-weight: bold;
        color: #ED5790;
    }

    .detalle-lista h1 {
        margin-top: 90px;
        margin-bottom: 50px;
        font-weight: bold;
        color: #000000;
        padding-left: 50px;
        font-size: 40px;
        text-align: center;
    }
}

/* Estilos para pantallas tablet: iPad Mini */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* Navbar */
    #navbar {
        background-color: #ffffff;
        height: 100vh;
        width: 130px;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
    }

    .navbar-container.navbar-logo {
        color: #222A53;
        margin-left: 1px;
        font-size: 14px;
    }

    .navbar-container {
        color: #7A7C8A;
        padding: 15px;
        margin-bottom: 20px;
        font-size: 12px;
        margin-left: 1px;
    }

    .navbar-container p {
        margin: 0;
        font-weight: bold;
    }

    .navbar-container ul {
        list-style: none;
        padding: 0;
        margin-top: 10px;
    }

    .navbar-container li {
        padding: 5px 0;
        cursor: pointer;
    }

    .navbar-container li.active {
        font-weight: bold;
        color: #ED5790;
    }

    .detalle-lista h1 {
        margin-top: 90px;
        margin-bottom: 50px;
        font-weight: bold;
        color: #000000;
        text-align: center;
        font-size: 30px;
    }
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {

    /* Navbar */
    .navbar-light .navbar-toggler-icon {
        background-color: #F8F9FA;
    }

    .navbar-light .navbar-toggler {
        border-color: #000000;
    }

    .navbar-collapse {
        background-color: #F8F9FA;
    }

    .navbar-nav .nav-link {
        color: #000000;
    }

    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-item.show .nav-link {
        color: #ed5790;
    }

    .navbar-light .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        background-color: #ffffff;
    }

    .detalle-lista h1 {
        font-weight: bold;
        color: #000000;
        text-align: center;
        font-size: 30px;
    }
}


/*Fin Navbar*/

/*CONTENIDO PRINCIPAL - LISTA DE REPRODUCCION*/


/***encabezado playlist***/
.encabezado-lista {
background-image: url(../assets/img/fondo-uno.png);
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;

}


.img-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-contenedor img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}


.detalle-lista {
    margin-left: 50px;
    margin-top: 10px;
    color: #ffffff;
}



ul.lista-opciones {
    padding-left: 0%;
    margin-bottom: 0px;
}

.lista-opciones li {
    list-style-type: none;
    display: inline;
    vertical-align: middle;
}

.lista-opciones button,
.btn-eliminar {
    border: none;
    background-color: transparent;
    color: #131313;
    font-size: 20px;
    transition: transform 0.3s;
}

.lista-opciones button:hover,

.btn-eliminar:hover {
    color: #ED5790;
    transform: scale(1.2);
}

.btn-reproducir i {
    font-size: 50px;
    color: #ED5790;
}

@media (min-width: 640px) {
    .encabezado-lista {
        display: flex;
        flex-direction: row;
    }

    #contenido-principal {
        margin-left: 20%;
        /*va el nav*/
    }

}

@media (max-width: 640px) {

    #contenido-principal {
        margin-left: 0%;
        /*se va margen porq se oculta el nav*/
    }

    .encabezado-lista {
        display: flex;
        flex-direction: column;
    }

    .detalle-lista {
        margin-left: 0%;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    ul.lista-opciones {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .img-contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-contenedor img {
        margin-top: 15px;
    }

}

/***FIN - encabezado playlist***/


/***Tabla de canciones***/
.icono-duracion {
    font-size: 20px;
    color: #131313;
}

.fila-contenido {
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.info-cancion a,
.link-album {
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-decoration: none;
    color: #131313;
}


.info-cancion img {
    width: 50px;
    margin-right: 10px;
}

.detalle-cancion p {
    font-size: 16px;
    margin-bottom: 0px;
}

#artista-nombre {
    color: #7A7C8A;
    font-size: 13px;
}

#num-lista {
    color: #7A7C8A;
}

/***hover a links***/
a:hover #artista-nombre {
    color: #131313;
}

.info-cancion a:hover,
.link-album:hover {
    color: #ED5790;
}


/***Responsive tabla***/

@media (max-width: 640px) {

    table tr td:nth-child(3),
    table tr th:nth-child(3) {
        display: none;
    }

    table tr td:nth-child(4),
    table tr th:nth-child(4) {
        display: none;
    }
}

/***FIN-Tabla de canciones***/
/*FIN - CONTENIDO PRINCIPAL - LISTA DE REPRODUCCION*/

/*estilos del footer*/
footer {
    background-color: #f9f1fa;
}

.logoFooter {
    height: 100px;
}

.listaFooter,
.tituloListaFooter {
    list-style-type: none;
    text-align: left;
    padding-left: 0%;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.tituloListaFooter {
    font-weight: bold;
    color: #7a7c8a;
}

.listaFooter a {
    text-decoration: none;
    color: #7a7c8a;
}

.listaFooter a:hover,
.listaRedes a:hover {
    color: #ed5790;
}

/*fin del primer contenedor*/

/*segundo contenedor*/

.listaRedes li {
    list-style-type: none;
    display: inline;
}

.listaRedes {
    padding: 0%;
}

.listaRedes a {
    text-decoration: none;
    color: #7a7c8a;
    font-size: 25px;
    padding: 10px;
}

.copy {
    color: #7a7c8a;
}

/*fin del segundo contenedor*/
/*FIN DEL FOOTER*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {


}