@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');
:root{
    --font-mono: 'League Spartan', sans-serif, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)
}
main {
    background-image: url(../assets/img/REGISTRATE.png);
    background-color: black;
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: 'League Spartan', sans-serif;
    margin: 0;
}
#registroBtn {
    background-color: #ff8bb1;
    border-color: #ff3175;
    color: #ffffff;
}

#registroBtn:hover {
    background-color: #ff3175;
}

#registroRedesBtn {
    border-color: #ff3175
}

#registroInputNombre, #registroInputEmail, #registroInputContrase単a, #registroInputConfirmarContrase単a {
    border-color: #ff3175 ;
}


#registroRedesBtn:hover {
    background-color:   #ff3175 ;
}


#iconoMostrarContrase単a , #iconoMostrarConfirmarContrase単a {
    cursor:pointer;
    font-size: 20px;
    transform: translateX(-35px);
    margin-top: 4px;
}

.bi-eye {
    position: absolute;
    right: -15px;
    top: 1px;
}
.navbar {
    background-color: #ff3175 !important;
}
.navbar-brand:hover img {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}
.formulario-rectangular {
    background-color: white;
    border-radius: 10px;
    transition: transform 0.3s ease;
    overflow: hidden; 
  }
  
  .main-text {
    font-family: 'League Spartan', sans-serif;
}
