/*Navbar*/
#navbar {
    background-color: #ffffff;
    height: 100vh;
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;

}

.navbar-container.navbar-logo {
    margin-top: 50px;
    color: #222A53;
    margin-left: 10px;
    font-size: 16px;
}

.navbar-container {
    color: #7A7C8A;
    padding: 15px;
    margin-bottom: 45px;
    font-size: 14px;
    margin-left: 10px;
}

.navbar-container p {
    margin: 0;
    font-weight: bold;
}

.navbar-container ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    /* Espacio entre los contenedores 2 y 3 */
}

.navbar-container li {
    padding: 5px 0;
    cursor: pointer;
}

.navbar-container li.active {
    font-weight: bold;
    color: #ED5790;
    /* Color para el enlace activo */
}

/*Fin Navbar*/

/*contenido principal*/
#main-content {
    margin-left: 20%; /*va el nav*/
    padding: 20px; /*los espacios en blanco*/
}

/***encabezado playlist***/
.encabezado-lista{
    background-color: #f8f2f5;
    display: flex;
    flex-direction: row;
}

.img-contenedor{
    display: flex;
    flex-direction: column;
}

.btn-agregar{
    margin: 10px;
    margin-top: 15px;
    border-radius: 50px;
    background-color:   #ea7ba1e5;
    border-color: #fb3374;
    color: #ffffff;
}

.btn-agregar:hover {
    background-color: #fb3374;
}

.lista-opciones li{
    list-style-type: none;
    display: inline;
    
}

.lista-opciones button{
    border: none;
    background-color: transparent;
}

#btn-reproducir{
    border-radius: 30px;
    background-color:   #ea7ba1e5;
    border-color: #fb3374;
    color: #ffffff;
}

.encabezado-lista img{ /*bo*/
    width: auto;
}


/***fin encabezado***/

/*#banner-listadereproduccion {
    width: 70%;
    margin-bottom: 20px;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

#banner-listadereproduccion {
    width: 100%;
    position: relative;
}

#banner-listadereproduccion img {
    width: 100%;
    height: auto;
    display: block;
}*/

/*lista de reproducción*/
.icono-duracion {
    font-size: 20px;
    color: #131313;
}

.fila-contenido {
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.info-cancion a,
.link-album {
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-decoration: none;
    color: #131313;
}


.info-cancion img {
    width: 50px;
    margin-right: 10px;
}

.detalle-cancion p {
    font-size: 16px;
    margin-bottom: 0px;
}

#artista-nombre {
    color: #7A7C8A;
    font-size: 13px;
}


.btn-eliminar {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: #131313;
}

#num-lista {
    color: #7A7C8A;
}

/***hover a links y botones***/
a:hover #artista-nombre {
    color: #131313;
}

.info-cancion a:hover,
.link-album:hover,
.btn-eliminar:hover {
    color: #ED5790;
}

/*Fin lista reproduccion*/